/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

/* BODY */
body{
    background:#222;
    color:white;
}

/* NAVBAR */
.navbar{
    background:#1c1c1c;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;
}

.logo-icon{
    width:25px;
}

.search-icon{
    width:18px;
}

/* HERO */
.hero{
    position:relative;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10%;
    overflow: hidden;
}

.hero-bg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.hero-content{
    position: relative;
    z-index: 3;
    color: #fff;
    max-width: 500px;
}

.hero-content h1{
    font-size: 4rem;
    margin-bottom: 10px;
}

.btn-register{
    display: inline-block;
    background:#ff6600;
    color:white;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.3s;
    border-radius: 40px;
    
}

/* DANCE TOUR */
.dance-tour{
    background:#ff6600;
    text-align:center;
    padding:40px 20px;
}

.section-desc{
    margin:10px auto 30px;
    max-width:500px;
}

.card-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:#222;
    width:200px;
}

.card img{
    width:100%;
}

.card-text{
    padding:10px;
}

/* PRICING */
.pricing{
    background:#2d2d2d;
    text-align:center;
    padding:40px 20px;
}

.price-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.price-box{
    background:#ff6600;
    width:220px;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    border-radius: 10px;
}

.badge-icon{
    width:50px;
}

.price-tag{
    background:#222;
    padding:8px 20px;
    width:100%;
    border-radius: 30px;
}

/* FOOTER */
footer{
    background:#ff6600;
    text-align:center;
    padding:10px;
    font-size:12px;
}

/* =======================
   RESPONSIVE (pantallas)
========================== */

@media (max-width: 1279px){
    .btn-register{
        background-color: aquamarine;
    }

    .dance-tour{
        background-color: aquamarine;
    }

    .price-box{
        background-color: aquamarine;
    }

    footer{
        background-color: aquamarine;
    }
}

@media (max-width: 920px){
    .btn-register{
        background-color: rgb(235, 39, 193);
    }

    .dance-tour{
        background-color: rgb(235, 39, 193);
    }

    .price-box{
        background-color: rgb(235, 39, 193);
    }

    footer{
        background-color: rgb(235, 39, 193);
    }
}

@media (max-width: 768px){
    .btn-register{
        background-color: rgb(20, 42, 204);
    }

    .dance-tour{
        background-color: rgb(20, 42, 204);
    }

    .price-box{
        background-color: rgb(20, 42, 204);
    }

    footer{
        background-color: rgb(20, 42, 204);
    }
}
